<h1>Caracteristicas</h1>

<div class="actions">
  <%= link_to "Novo", new_feature_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Método</th>
      <th>Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.description %></td>
        <td><%= feature.controller %></td>
        <td><%= feature.action %></td>
        <td><%= link_to feature.description, feature %></td>
        <td><%= feature.request_method %></td>
        <td><%= feature.active %></td>
        <td><%= link_to "Editar", edit_feature_path(feature) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
