<h1>Nova Caracteristica Cadastrada</h1>

<div class="actions">
  <%= link_to "Editar", edit_feature_path(@feature) %>
</div>

<ul>
  <li>Descrição: <%= @feature.description %></li>
  <li>URL: <%= @feature.path_info %></li>
  <li>Método: <%= @feature.request_method %></li>
  <li>Ativo: <%= @feature.active %></li>
</ul>

<%= link_to "Voltar", features_path %>
