<h1>Nova Caracteristica Cadastrada</h1>

<div class="actions">
  <%= link_to "Editar", edit_feature_path(@feature) %>
</div>

<ul>
  <li>Descrição: <%= @feature.description %></li>
  <li>Controller: <%= @feature.controller %></li>
  <li>Action: <%= @feature.action %></li>
  <li>Ativo: <%= @feature.active %></li>
</ul>

<%= link_to "Voltar", features_path %>
