<h1>Grupo de Usuário</h1>

<div class="actions">
  <%= link_to "Editar", edit_group_path(@group) %>
</div>

<ul>
  <li>Nome: <%= @group.name %></li>
  <li>Ativo: <%= @group.active %></li>
</ul>

<div id="role_groups">
  <h3>Perfis</h3>

  <ul>
    <% @group.role_groups.each do |g| %>
      <li><%= g.role.name %></li>
    <% end %>
  </ul>
</div>


<%= link_to "Voltar", groups_path %>
