<%= form_for @user do |f| %>
  <div class="fields">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="fields">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="fields">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="fields">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="fields">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit %><br>
    or <%= link_to :cancel, users_path %>
  </div>
<% end %>
