<div class="nested-fields">
  <% if f.object.group.blank? || f.object.group.active? %>
    <%= f.select :group_id, active_user_groups_select_options %>
  <% else %>
    <%= f.object.user_group.name %>
  <% end %>

  <div style="margin: 50px">
    <h4>Perfis</h4>
    <%= f.fields_for :permissions do |permission| %>
      <%= render "permission_fields", f: permission %>
    <% end %>
  
    <div class="links">
      <%= link_to_add_association 'Adicionar Permissão', f, :permissions %>
    </div>

    <%= link_to_remove_association "Remover", f %>
  </div>
</div>
