<h1>Usuário</h1>

<div class="actions">
  <%= link_to "Editar", edit_user_path(@user) %>
</div>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Username: <%= @user.username %></li>
  <li>Active: <%= @user.active %></li>
</ul>

<%= link_to "Voltar", users_path %>
